{% extends 'base.html.twig' %}

{% block title %}Titre de la première page{% endblock %}

{% block content %}

    <h1>Bonjour {{ firstname }}</h1>
    Ceci est ma première page bonjour.
{% endblock %}